<h4>FROM:
  <small><%= "#{flight.from_airport.code} #{flight.from_airport.location}" %></small>
</h4>
<h4>TO:
  <small><%= "#{flight.to_airport.code} #{flight.to_airport.location}" %></small>
</h4>
<h4>Date and time:
  <small><%= flight.date_time.strftime("%b %d %Y %H:%M") %></small>
</h4>
<h4>Duration:
  <small><%= minutes_in_words(flight.duration) %></small>
</h4>
