<div class="container-fluid content">
  <h3>Passenger #<%= passenger.id %></h2>
  <h4>Name:
    <small><%= passenger.name %></small>
  </h4>
  <h4>Email:
    <small><%= passenger.email %></small>
  </h4>
</div>
