<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header text-uppercase text-default">
      <%= link_to "Flight Booker", root_path, class: "navbar-brand" %>
    </div>
  </div>
</nav>
